code[class*="language-"],
pre[class*="language-"] {
	@apply text-gray-200 rounded-md;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.body-text {
	@apply text-2xl leading-9 text-gray-200;
}

.title-text {
	@apply text-white hover:text-cyan-300 text-3xl font-bold transition-colors duration-200;
}

.description-text {
	@apply text-2xl leading-9 mt-1 text-gray-400;
}

 .code-title {
	@apply text-white bg-cyan-600 font-semibold py-2 px-4 rounded-t-md font-mono text-sm sm:text-lg flex items-center;
}

	.titleOne {
	 @apply bg-red-400 rounded-full w-3 h-3 flex;
	}
	.titleTwo {
		@apply bg-yellow-400 rounded-full w-3 h-3 flex ml-1.5;
	 }
	 .titleThree {
		@apply bg-green-400 rounded-full w-3 h-3 flex ml-1.5 mr-3;
	 }
	 
.code-title + pre {
  @apply mt-0 rounded-t-none;
}



/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #1F2937;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #F87171;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #4ADE80;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #e6db74;
}

.token.keyword {
	color: #67E8F9;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

